<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <nav class="footer-nav">
                <h6 class="text-center"> &copy; <script>document.write(new Date().getFullYear())</script>, made by Mdjad</h6>
            </nav>
        </div>
    </div>
</div>