<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <p class="text-center text-info"> &copy; <script>document.write(new Date().getFullYear())</script>, made by Mdjad</p>
        </div>
    </div>
</div>