{% extends 'electeur/email/base_mail.html.twig' %}

{% block title %}{{ titre }}{% endblock %}

{% block body %}
    <h2 style="color:#0E7693; font-size:22px; padding-top:12px;">
        Creation d'un nouveau électeur
    </h2>
    <div align="left" class="article-content">
        <h4>Bonjour Manager</h4>
        <p>
            <strong>{{ electeur }} </strong>   vient de s'incrire à l'élection.
            Cliquez sur le lien suivant pour finialiser  son inscription :  <a href="{{ url('electeur_redirect', {'token': electeur.token }) }}">Validation</a>
        </p>
        <br/>
        <br/>
        <br/>
    </div>
{% endblock %}