{% extends 'electeur/email/base_mail.html.twig' %}

{% block title %}{{ titre }}{% endblock %}

{% block body %}
    <h2 style="color:#0E7693; font-size:22px; padding-top:12px;">
        Avis de reception de votre demande d'inscription
    </h2>
    <div align="left" class="article-content">
        <h4>Bonjour {{ electeur }} </h4>
        <p>
            Nous avons bien reçu votre demande d'inscription à la liste électorale.<br>
            Nous allons traiter votre demande sous peu et vous recevrez un mail de confirmation sous peu.
            Il se peut que soit mail passe dans vos span, n'hesitez donc pas à faire un tour. <br><br>
        </p>
        <br/>
        <br/>
        <br/>
    </div>
{% endblock %}