{% extends 'electeur/email/base_mail.html.twig' %}

{% block title %}{{ titre }}{% endblock %}

{% block body %}
    <h2 style="color:#0E7693; font-size:22px; padding-top:12px;">
        Inscription  à la liste électorale
    </h2>
    <div align="left" class="article-content">
        <h4>Bonjour {{ electeur.votant }}</h4>
        <p>
            Votre demande d'inscription à la liste électorale à été validr.<br>
            Voici Votre Numeros d'electeur : <strong>{{ electeur.numElectorale }} </strong>
            ce numero vous sera nécessaire  lors du vote.<br/>
            Pensez à conserver ce mail et votre numéro pour faire valoir votre droit de vote.
        </p>
        <br>
        <br>
        <br>
    </div>
{% endblock %}