{% extends 'base.html.twig' %}

{% block title %}New Electeur{% endblock %}

{% block body %}
        <div class="container-fluid mt-3">
            <div id='info' class="row clearfix ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h2>Inscription à la liste electorale</h2>
                        </div>
                        <div class="card-body">
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12  align-items-center">
                                {{ include('electeur/_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

 {% block javascripts %}
     {{ parent() }}
 <script>
     (function() {
         'use strict';
         window.addEventListener('load', function() {
// Fetch all the forms we want to apply custom Bootstrap validation styles to
             var forms = document.getElementsByClassName('needs-validation');
// Loop over them and prevent submission
             var validation = Array.prototype.filter.call(forms, function(form) {
                 form.addEventListener('submit', function(event) {
                     if (form.checkValidity() === false) {
                         event.preventDefault();
                         event.stopPropagation();
                     }
                     form.classList.add('was-validated');
                 }, false);
             });
         }, false);
     })();

     //File name
     $('#electeur_cniFile_file').change(function() {
       //  $('.custom-file-label').html(this.value); //path complet
         $('.custom-file-label').html(this.files[0].name); //name file

     });
 </script>

 {% endblock %}



